<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>296465096839-b8qrqcd5ti9gdvpg8as3qgm8g5lj8nsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296465096839-b8qrqcd5ti9gdvpg8as3qgm8g5lj8nsi</string>
	<key>API_KEY</key>
	<string>AIzaSyAAMzsV1IL1Cr683cboMdv4ivILecmTBAw</string>
	<key>GCM_SENDER_ID</key>
	<string>296465096839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.public.SwiftHub</string>
	<key>PROJECT_ID</key>
	<string>swifthub-39db2</string>
	<key>STORAGE_BUCKET</key>
	<string>swifthub-39db2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296465096839:ios:fee5cc7e47b530f1</string>
	<key>DATABASE_URL</key>
	<string>https://swifthub-39db2.firebaseio.com</string>
</dict>
</plist>